# out files
out/obj/*.*
out/obj/slowboi/*.*
out/obj/adventure/*.*
out/test/*.*
out/test/Slowboi/*.*
out/test/test/*.*

*.exe
*.ilk
*.pdb

clangd_output.json
times.*

# lib/dll files
*.dll
lib/*

# config files
sdl2-config

# doxygen
dox/html/
dox/latex/

# vscode
.vscode/
workspace.code-workspace

# visual studio debugging
.vs/
Debug/
fastboi.sln
fastboi.vcxproj
fastboi.vcxproj.*
src/.vs/
src/CppProperties.json
x64/
