# Cmake
CMakeFiles/
pkg/
cmake_install.cmake
CMakeCache.txt

# deps
deps/


*.exe
*.ilk
*.pdb
*.exp
*.d.lib
*.lib

clangd_output.json
times.*

.clangd/
.cache/

# lib/dll files
*.dll
lib/*

# config files
sdl2-config

# doxygen
dox/html/
dox/latex/

# vscode
.vscode/
workspace.code-workspace

# visual studio debugging
.vs/
Debug/
fastboi.sln
fastboi.vcxproj
fastboi.vcxproj.*
src/.vs/
src/CppProperties.json
x64/

# cmake
build/
cmake/
